<!--サクセスメッセージを表示-->
<% if flash[:notice]%>
    <%= flash[:notice] %>
<% end %>

<p><%= @user.name %></p>
<p><%= @user.email %></p>
<%= link_to("編集", "/users/#{@user.id}/edit") =%>

<%= link_to("削除", "/users/#{@user.id}/destroy", {method: "post"}) =%>

<%= link_to("トップへ", "/") =%>